{% extends "layouts/base.html" %}

{% block title %} UI Buttons {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">Recreational Use</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="#">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">GI Models</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Recreational Use</a>
					</li>
				</ul>
			</div>
			<div class="row">
				<div class="col-md-12" id="main_panel">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Upload charts</h4>
						</div>
						<div class="card-body">
							<p class="demo">
								<input type="file" id="uploadfile" name="chart_upload" multiple>
								<button class="btn btn-secondary" id="upload_pdf_button">
									<span class="btn-label">
										<i class="fa fa-plus"></i>
									</span>
									Upload
								</button>
							</p>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
<!--	<script src="/static/assets/js/setting-demo2.js"></script>-->
	<script src="/static/assets/js/gi_rec.js"></script>

{% endblock javascripts %}
